$number-font-size: 30px;
// $blue-border:1px solid #3751FF;
$blue-font:#3751FF;
$small-number:20px;
$font-weight:bold;

.number-font-size{
    font-size:$number-font-size ;
}

// .blue-border{
//     border: $blue-border;
// }

.blue-font{
    color: $blue-font;
}

.small-number{
    font-size:$small-number ;
}
.font-weight{
    font-weight:$font-weight ;
}
#right_side_section{
    background: #F7F8FC;
}

// main{
//     box-sizing: border-box
// }
// .box_gutter{
//     box-sizing: border-box
// }









