$number-font-size: 30px;
$blue-font:#3751FF;
$small-number:20px;
$font-weight:bold;
$mediaQuery-mobile: 650px;
@mixin mobileFirst {
    @media only screen and (min-width: $mediaQuery-mobile) {
        @content;
    }
};

.number-font-size{
    font-size:$number-font-size ;
}
.blue-font{
    color: $blue-font;
}
.small-number{
    font-size:$small-number ;
}
.font-weight{
    font-weight:$font-weight ;
}

.custom-hover{
    outline: 1.5px solid #E9ECEF;
}

@include mobileFirst {
    .custom_title {
        &:hover{
            color: #3751FF;
        }
    }
    .custom-hover {
        outline: 1.5px solid #E9ECEF;
        transition: all 300ms ease-in-out;
        &:hover{
            outline: 1.5px solid #3751FF;
            color: #3751FF;
            cursor: pointer;
        }
        
    }
        
       
       
}








