// $primary-color: yellow;

// body{
//     background-color: $primary-color;
// }

// $mobile-font-size:10px;

// .mobile-font-size{
//     font-size: $mobile-font-size;
// }

$number-font-size: 30px;
$blue-border:1px solid #3751FF;
$blue-font:#3751FF;
$small-number:20px;
$font-weight:bold;



.number-font-size{
    font-size:$number-font-size ;
}

.blue-border{
    border: $blue-border;
}

.blue-font{
    color: $blue-font;
}

.small-number{
    font-size:$small-number ;
}

.font-weight{
    font-weight:$font-weight ;
}









